

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a{
  position: absolute;
  display: block;
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,0.3);
    font-weight: bold;
    border-radius: 50%;
}

.slides-navigation a:hover {
    background: rgba(0,0,0,0.7);
}

.slides-navigation img{
    width: 45px;
    height: 45px;
}

.slides-navigation a.prev {
  left: 0;
margin-left: 15px;
}
.slides-navigation a.next {
  right: 0;
margin-right: 15px;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}

.titulos {
    background: rgba(0,0,0,0.2);
    color: white;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
}

.titulos h2{
   font-family: 'Courgette', cursive;
    font-size: 45px;
}

.titulos p{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}

.enlace {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    border-color: white;
    text-decoration: none;
    padding: 10px;
    border: 3px solid white;
    cursor: pointer;
}

.titulos a{
    margin-top: 30px;
    margin-bottom: 20px;
}

.enlace:hover{
    background: rgba(51,51,51,0.5);
}
