.datos{
    width: 100%;
    margin-bottom: 5%;
}
.titulo{
    margin-top: 5%;
    color: darkcyan;
    text-align: center;
    margin-bottom: 8%;
}

.foto h2{
    color: darkcyan;
}

.dato2{
    width: 100%;
    margin-bottom: 4%;
}

.enviar input{
}

.datos h3{
    color: darkcyan;
}









