.contenido-articulo{
    display: flex;
    max-width: 2000px;
    flex-wrap: wrap;
}
.articulo{
    float: left;
    width: 260px;
    height: 370px;
    border: 2px solid gray;
    margin-right: 2%;
    padding: 5px;
    margin-bottom: 5%;
}

.articulo img{
    width: 250px;
    height: 250px;
}

.articulo h4{
    text-align: center;
}

.articulo a{
    border: 2px solid gray;
    padding: 8px;
    margin-left: 30%;
}

.articulo a:hover{
    background: rgba(0,0,0,0.6);
}

@media(max-width:900px){
    .articulo{
        
    }
}

.regresar{
    margin-top: 7%;
}

.regresar a{
    padding: 10px;
    border: 2px solid gray;
}

